header .bg-primary {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

header .bg-primary .sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #009CFF;
  -webkit-transition: all 10ms ease-in-out;
  -moz-transition: all 10ms ease-in-out;
  -o-transition: all 10ms ease-in-out;
  -ms-transition: all 10ms ease-in-out;
  transition: all 10ms ease-in-out;
  animation-name: stickyTransition;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  -webkit-box-shadow: 1px 10px 10px #77c5f6;
  -moz-box-shadow: 1px 10px 10px #77c5f6;
  box-shadow: 1px 10px 10px #77c5f6;
}

@keyframes stickyTransition {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(1, -100% 0);
    transform: translate3d(1, -100% 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width: 768px) {
  #header .top-head {
    display: none;
  }
}